<h2> <%= Current.session.user.name %>'s Tasks (pluralize)</h2>
<p>List of Tasks</p>
<ul>
    <% @tasks.each do |t| %>
    <li><%= link_to t.name,t %> - <%= link_to(t.category.name,categories_path) %></li>

    <% end %>
</ul>