<h2> Welcome to Task Management App</h2>
<h4>Hello, <%=Current.session.user.name %> </h4>
<p>Create a new task here</p>
<p>OR</p>
<p><%= link_to "See your registered tasks", tasks_index_path %></p>
<%# if Current.session %>
    <%= link_to "Sign out", Current.session, data: {turbo_method: :delete} %>
<%# end %>